<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
            x.type = "text";
            } else {
            x.type = "password";
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
</head>
<body>
    <div class = 'Container'>
        <h2> {% block title %} {% endblock %}</h2>
        <form {% block link %} {% endblock %} method = "POST" name = "my-form">
            Username:<br>
            <input type="text" name="username" id = "myUsername" required/><br>
            Password:<br>
            <input type="password" name="password" id="myInput" required/> <br>
            <input type="checkbox" onclick="myFunction()">Show Password <br>
            <div id = 'button'><input type="submit" name="Log In" /></div>
        </form>
        <p>{% block redirect %} {% endblock %}</p>
        <p>{% block body %} {% endblock %}</p>
    </div>
</body>
</html>